body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}
header {
    text-align: center;
    font-weight: normal;
}

.first-p {
    font-size: 16px;
    color: #7FFFD4;
    text-decoration: underline;
}